<!DOCTYPE html>
<html lang="">
<head>
    <title>Show Single Object</title>
</head>
<body>
<h1>Object Details</h1>
<p>Name: <%= object.name %></p>
<p>Image: <%= object.image %></p>
<p>State: <%= object.state %></p>
</body>
</html>
